@font-face {
    font-family: ostBlack;
    src: url('./ostrich-sans-black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: ostLight;
    src: url('./ostrich-sans-rounded.ttf') format('truetype');
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #1F1F1F;
    color: white;
    padding: 4%;
}

footer .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 5%;
}

.footer-container > div{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
}

.left-container{
    text-align: center;
}

.footer-container > div:nth-child(2) h1{
   padding: 20px 0%;
   color: gray;
   font-family: 'ostInline';
   letter-spacing: 3px;
   font-size: 2em;
   font-size: clamp(1.5em, 2vw, 2em);
   text-align: center;
}

.phone,
.email,
.location{
    padding: 1% 0%;
    color: gray;
    text-align: center;
}

.left-info span{
    font-family: 'ostLight';
    letter-spacing: 3.5px;
    color: white;
}

.left-info h4{
    font-family: 'ostLight';
    letter-spacing: 3.5px;
    text-align: center;
}

.footer-container > div:last-child h1{
    padding: 20px 0%;
    color: gray;
    font-family: 'ostInline';
    letter-spacing: 3px;
    font-size: 2em;
    font-size: clamp(1.5em, 2vw, 2em);
    text-align: center;
 }
 
.line-footer{
    background: gray;
    height: 2px;
    margin-bottom: 20px;
    width: 100%;
}

.right-info{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icons-footer{
    max-width: 30px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-footer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-image{
    max-width: 80px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .footer-container > div {
        width: 33%;
    }

    .footer-container {
        gap: 0;
    }

    .left-container {
        text-align: left;
    }

    .phone,
    .email,
    .location {
        text-align: left;
    }

    .left-info h4 {
        text-align: left;
    }

    .footer-container > div:nth-child(2) h1,
    .footer-container > div:last-child h1 {
        text-align: left;
    }

    .right-info {
        justify-content: flex-start;
    }

    
}
