@font-face {
    font-family: ostBlack;
    src: url('./ostrich-sans-black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: ostLight;
    src: url('./ostrich-sans-rounded.ttf') format('truetype');
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hamburger-menu {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
  }

  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    display: none; 
  }

  .header-container {
    max-height: 9vh;
    min-height: 9vh;
    padding: 0.5% clamp(5%, 13%, 13%);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-Img{
    max-width: 200px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-Img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-nav{
    display: flex;
    align-items: center;
    padding: 0% 15%;
    letter-spacing: 1.5px;
}

.header-nav ul{
    display: flex;
    list-style: none;
    gap: 15%;
}

.header-nav ul a{
  list-style: none;
  text-decoration: none;
  color: black;
  gap: 15%;
}


.header-nav ul li{
    font-family: 'ostLight';
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 1
}



.logout-btn{
  border: none;
  background-color: transparent;
}

.logout-btn:hover{
  cursor: pointer;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-header span {
  font-weight: bold;
}

.user-header button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.user-header button:hover {
  background-color: transparent;
}


@media screen and (max-width: 762px) {
  .header-container {
    padding: 0.5% 5%;  /* Adjust for smaller screens */
}

  .close-menu {
      display: block;
    }
  .header-nav {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .header-nav.open {
      display: flex;
    }

  .header-nav ul {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .header-nav ul li {
    font-size: 1.8rem;
    }
  
    .hamburger-menu {
      display: block;
    }
  }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-container {
      padding: 0.5% 8%;
    }
  }
  
  @media only screen and (min-width: 820px) and (max-width: 1180px) {
    .header-container {
      padding: 0.5% 10vw;
   }
  }
